@inject IOptions<AppSettings> AppSettings
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@if (!string.IsNullOrEmpty(@ViewBag.Title)) { <text>@ViewBag.Title -</text> } @AppSettings.Options.SiteTitle</title>

        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="shortcut icon" href="~/favicon.png" />
        
        @RenderSection("head", required: false)
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">@AppSettings.Options.SiteTitle<sup style="color:#ee0000;">Beta</sup></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Search" asp-action="Videos">Video Search</a></li>
                        <li><a asp-controller="Search" asp-action="Dancers">Dancer Search</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (this.Model.ShowAdminActions)
                                {
                                    <li><a asp-controller="Admin" asp-action="Index">Admin Console</a></li>
                                    <li role="separator" class="divider"> </li>
                                }
                                
                                @if (this.Model.ShowLoginLink)
                                {
                                    <li><a asp-controller="User" asp-action="Login">Login</a></li>
                                }
                                else if(this.Model.ShowLogoutLink)
                                {
                                    <li><a asp-controller="User" asp-action="Logout">Logout</a></li>
                                }
                            </ul>
                        </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <footer>
                <p style="text-align:center;">
                    Have feedback?  E-mail us at
                    <a href="mailto:feedback@("@")westieconnection.com">feedback@@westieconnection.com</a>
                </p>
                <p style="text-align:center;">&copy; 2015 - @AppSettings.Options.SiteTitle</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/jquery.js"></script>
            <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"
                    asp-fallback-src="~/lib/jquery/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
        </environment>

        @RenderSection("scripts", required: false)
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-66095297-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
