
@{
    Layout = "";
}

<p>
    Showing search results @this.Model.ResultsStart
    to @this.Model.ResultsEnd of @this.Model.ResultsTotal
    for &quot;@this.Model.Query&quot;.
</p>

@if (this.Model.Entries != null)
{
    <ol start="@this.Model.ResultsStart" class="list-group">
        @foreach (DancerListItemViewModel dancer in this.Model.Entries)
        {
            <li class="list-group-item">
                <span class="badge">@dancer.VideoCount videos</span>
                <a data-wsdc-id="@dancer.WsdcId" data-name="@dancer.Name" href="@dancer.Url" class="dancerResult">@dancer.Name (@dancer.WsdcId)</a>
            </li>
        }
    </ol>
}

<nav>
    <ul class="pager">
        @if (this.Model.ShowPreviousLink)
        {
            <li class="previous">
                <a href="@this.Model.PreviousLinkUrl" data-query="@this.Model.Query" data-start="@this.Model.PreviousLinkStart" class="pagingLink">
                    <span aria-hidden="true">&laquo;</span> Previous Page
                </a>    
            </li>
        }
        else
        {
            <li class="previous disabled">
                <a href="#">
                    <span aria-hidden="true">&laquo;</span> Previous Page
                </a>    
            </li>
        }
        
        @if (this.Model.ShowNextLink)
        {
            <li class="next">
                <a href="@this.Model.NextLinkUrl" data-query="@this.Model.Query" data-start="@this.Model.NextLinkStart" class="pagingLink">
                    Next Page <span aria-hidden="true">&raquo;</span>
                </a>    
            </li>
        }
        else
        {
            <li class="next disabled">
                <a href="#">
                    Next Page <span aria-hidden="true">&raquo;</span>
                </a> 
            </li>
        }
    </ul>
</nav>


