@model EventSearchResultsViewModel
@{
    Layout = "";
}

    <p>
        Showing search results @this.Model.ResultsStart
        to @this.Model.ResultsEnd of @this.Model.ResultsTotal
        for &quot;@this.Model.Query&quot;.
    </p>
    
    <ol start="@this.Model.ResultsStart" class="list-group">
        @foreach (EventListItemViewModel eventEntry in this.Model.Entries)
        {
            <li class="list-group-item">
                <a href="@eventEntry.Url">@eventEntry.Name</a>
            </li>
        }
    </ol>
    
    @if (this.Model.ShowPreviousLink || this.Model.ShowNextLink)
    {
        <p>
            @if (this.Model.ShowPreviousLink)
            {
                <a href="@this.Model.PreviousLinkUrl">Previous Page</a>
            }
            
            @if (this.Model.ShowNextLink)
            {
                <a href="@this.Model.NextLinkUrl">Next Page</a>
            }
        </p>
    }

