@inject IOptions<AppSettings> AppSettings
@using System.Linq;
@model WatchViewModel
@{
    ViewBag.Title = this.Model.Title;
    string host = this.Context.Request.Host.ToString();
    string shareUrl = this.Context.Request.Scheme + "://" + host + this.Context.Request.Path;
}

@section head
{
    <meta property="og:url" content="@shareUrl" />
    <meta property="og:type" content="video.other" />
    <meta property="og:title" content="@this.Model.Title" />
    <meta property="og:description" content="@AppSettings.Options.SiteTitle - your source for west coast swing videos" />
    <meta property="og:image" content="@this.Model.FacebookThumbnailUrl" />
    <meta property="og:image:width" content="@this.Model.FacebookThumbnailWidth" />
    <meta property="og:image:height" content="@this.Model.FacebookThumbnailHeight" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="h3">
                    @this.Model.Title
                </h1>
            </div>
            <div class="panel-body">
                @Html.Raw(this.Model.EmbedCode)
            </div>
            <div class="panel-footer">
                <div class="fb-share-button" style="float:right;" data-href="@shareUrl" data-layout="button"></div>
                Watch video at <a href=@this.Model.ExternalUrl>@this.Model.ProviderName</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Video Details</strong>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">
                                @this.Model.Title
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Event
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(this.Model.EventUrl))
                                {
                                    @this.Model.EventName
                                }
                                else
                                {
                                    <a href="@this.Model.EventUrl">@this.Model.EventName</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Level
                            </td>
                            <td>
                                @this.Model.SkillLevel
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="@Math.Max(1, this.Model.Dancers.Count)">
                                Dancers
                            </td>
                            <td>
                                @if (this.Model.Dancers.Count >= 1)
                                {
                                    var dancer = this.Model.Dancers[0];
                                    <a href="@dancer.Url">@dancer.DisplayName</a>
                                }
                                else
                                {
                                    <text>(None)</text>
                                }
                            </td>
                        </tr>
                        @foreach (var dancer in this.Model.Dancers.Skip(1)) {
                        <tr>
                            <td>
                                <a href="@dancer.Url">@dancer.DisplayName</a>
                            </td>
                        </tr>                        
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                @if(this.Model.ShowAdminActions)
                {
                    <div style="text-align:right;">
                        <text>Is there something wrong in the details of this video?</text> 
                        <a href="@this.Model.EditUrl" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit"> </span>
                            Edit Details
                        </a>
                    </div>
                }
                else
                {
                    <div style="text-align:right;">
                        <text>Is there something wrong in the details of this video?</text> 
                        <a href="@this.Model.EditUrl" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-flag"> </span>
                            Submit Corrections
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>

@section scripts
{
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
}
