@inject IOptions<AppSettings> AppSettings
@using System.Linq;
@model WatchViewModel
@{
    ViewBag.Title = this.Model.Title;
}

@section head
{
    <meta property="og:url" content="@this.Context.Request.Scheme://@this.Context.Request.Host@this.Context.Request.Path" />
    <meta property="og:type" content="video.other" />
    <meta property="og:title" content="@this.Model.Title" />
    <meta property="og:description" content="@AppSettings.Options.SiteTitle - your source for west coast swing videos" />
    <meta property="og:image" content="@this.Model.FacebookThumbnailUrl" />
    <meta property="og:image:width" content="320" />
    <meta property="og:image:height" content="180" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    @this.Model.Title
                </h2>
            </div>
            <div class="panel-body">
                @Html.Raw(this.Model.EmbedCode)
            </div>
            <div class="panel-footer">
                Watch video at <a href=@this.Model.ExternalUrl>@this.Model.ProviderName</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Video Information
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td colspan="2">
                                @this.Model.Title
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Event
                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(this.Model.EventUrl))
                                {
                                    @this.Model.EventName
                                }
                                else
                                {
                                    <a href="@this.Model.EventUrl">@this.Model.EventName</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="@Math.Max(1, this.Model.Dancers.Count)">
                                Dancers
                            </td>
                            <td>
                                @if (this.Model.Dancers.Count >= 1)
                                {
                                    var dancer = this.Model.Dancers[0];
                                    <a href="@dancer.Url">@dancer.DisplayName</a>
                                }
                                else
                                {
                                    <text>(None)</text>
                                }
                            </td>
                        </tr>
                        @foreach (var dancer in this.Model.Dancers.Skip(1)) {
                        <tr>
                            <td>
                                <a href="@dancer.Url">@dancer.DisplayName</a>
                            </td>
                        </tr>                        
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
