@inject IOptions<AppSettings> AppSettings
@model IndexViewModel
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1 class="h2" style="text-align:center;">Welcome to @AppSettings.Options.SiteTitle!</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                Welcome to @AppSettings.Options.SiteTitle where you can find all of your favorite WCS videos.  Search for a video by dancer, event, or title, or just browse through the recently added videos for some dance inspiration!
                <br><br>
                Would you like to contribute to the set of videos on this site?
                <a href="@this.Model.AddVideoUrl">
                    Add a video <span class="glyphicon glyphicon-cloud-upload"> </span>
                </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Recently Added Videos</strong>
            </div>
            @Html.Partial("VideoListGroup", this.Model.Videos)
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Recent Events</strong>
            </div>
            @Html.Partial("EventListGroup", this.Model.Events)
        </div>
    </div>
</div>
