@model EventViewModel
@{
    ViewBag.Title = this.Model.Title;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="h3">
                    Event - @this.Model.Title
                </h1>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Event Date
                        </td>
                        <td>
                            @this.Model.EventDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Location
                        </td>
                        <td>
                            @this.Model.Location
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WSDC Status
                        </td>
                        <td>
                            @if (this.Model.Pointed)
                            {
                                <text>Pointed</text>
                            }
                            else
                            {
                                <text>Not pointed</text>  
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body">
                @{ bool first = true; }
                @foreach (JumpListItemViewModel link in this.Model.JumpList)
                {
                    if (first)
                    {
                        first = false;
                    }
                    else
                    {
                        <text>|</text>
                    }
                    <a href="@link.Url">@Html.Raw(System.Net.WebUtility.HtmlEncode(link.Label).Replace(" ", "&nbsp;"))</a>
                }
                
                @foreach (VideoGroupViewModel group in this.Model.VideoGroups)
                {
                    <a name="@group.Anchor"></a>
                    <h2 class="h4">@group.Name</h2>
                    @Html.Partial("VideoListGroup", group.Videos)
                }
            </div>
        </div>
    </div>
</div>
